* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*------- MAIN ------*/
#main {
  width: 1440px;
}
.main-item {
  height: 500px;
  display: flex;
}
.main-item img,
.item-text {
  width: 720px;
  height: 500px;
}
.item-text {
  padding: 100px;
}
/*----- HEADER -----*/
header {
  height: 720px;
  background: url(images/logo.jpg);
  background-size: cover;
  text-align: center;
  background-position: 50% 50%;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 300px;
}
nav a {
  color: white;
  text-decoration: none;
  font-weight: 100;
  font-size: 18px;
}
nav a:hover {
  text-decoration: underline;
}
header p {
  color: white;
  opacity: 0.7;
}
/*----- FOOTER -----*/
footer {
  height: 400px;
  background: #f39200;
  color: white;
  padding: 100px;
  display: flex;
  justify-content: space-evenly;
}
footer p {
  font-size: 18px;
  line-height: 25px;
}
