* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  width: 100vw;
}
/*------- MAIN ------*/
#main {
  width: 1440px;
  margin: 0 auto;
}
.main-item img,
.item-text {
  width: 720px;
  height: 500px;
}
.item-text {
  padding: 50px;
}
/*----- HEADER -----*/
header {
  height: 720px;
  background: url(images/logo.jpg);
  background-size: cover;
  text-align: center;
  background-position: 50% 50%;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 300px;
}
nav a {
  color: white;
  text-decoration: none;
  font-weight: 100;
  font-size: 18px;
}
nav a:hover {
  text-decoration: underline;
}
header p {
  color: white;
  opacity: 0.7;
}
/*---- STORITVE ---*/
#storitve{
  display: flex;
}
#storitve p {
  font-size: 18px;
}
ul {
  padding-left: 30px;
}
li {
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
}
/*----- CENIK -----*/
#cenik{
  display: flex;
}
h3 {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1.5px;
  color: #f39200;
}
#cenik p {
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 300;
}
/*---- about, sproščanje ----*/
#about,
#psiho-sproščanje p {
  font-weight: 300;
  line-height: 25px;
}
#about, #psiho-sproščanje{
  display: flex;
}
/*----- FOOTER -----*/
footer {
  height: 400px;
  background: #f39200;
  color: white;
  padding: 100px;
  display: flex;
  justify-content: space-evenly;
}
footer h3 {
  text-align: left;
  color: white;
}
footer p {
  font-size: 18px;
  line-height: 25px;
  opacity: 0.8;
}
footer a {
  text-decoration: none;
  color: white;
  opacity: 0.8;
  font-size: 18px;
  line-height: 30px;
}
footer a:hover {
  opacity: 1;
}
@media only screen and (max-width:375px){
  #main {
    width: 375px;
  }
  .main-item {
    width: 375px;
    display: flex;
  }
  .main-item img{
    width: 375px;
    height: 260px;
  }
  .item-text {
    padding: 25px;
    width: 375px;
  }
  /*----- HEADER -----*/
header {
  height: 260px;
  background: url(images/logo.jpg);
  background-size: cover;
  text-align: center;
  background-position: 50% 50%;
}
nav {
  display: none;
}
/*---- STORITVE ---*/
#storitve, #about{
  flex-direction: column;
}
#cenik, #psiho-sproščanje{
  flex-direction: column-reverse;
}
#storitve .item-text{
  height: 400px;
}
#storitve p {
  font-size: 16px;
}
#cenik .item-text{
  height: 700px;
}
#about .item-text{
  height: 600px;
}
#psiho-sproščanje .item-text{
  height: 800px;
}
/*----- FOOTER -----*/
footer {
  height: 500px;
  padding: 25px;
  flex-direction: column;
  text-align: center;
}
footer h3{
  text-align: center;
}
}